<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>vue.js_udemy</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="intro.css">
</head>
<body>
    <div id="app">
        <h2>TODO LIST</h2>
        <form v-on:submit.prevent>
            <input type="text" v-model="newItem">
            <button v-on:click="addItem">add</button>
        </form>
        <ul>
            <li v-for="(todo, indes in todos">
                <input type="checkbox" v-model="todo.isDone">
                <!--　isDone=true　→ <span class = "done">  isDone=false → <sapn class>　-->
                <span v-bind:class="{ done: todo.isDone }">{{ todo.item }}</span>
                <button v-on:click="deleteItem()">delete</button>
            </li>
        </ul>
        <pre>{{ $data }}</pre>
    </div>
<script src="https://unpkg.com/vue@3.1.5"></script>
<script src="intro.js"></script>
</body>
</html>